<%= button_to 'Create a New User', '/register', method: :get %>

<div id='existing-users'>
  <p>Exisiting Users:</p>
  <% @users.each do |user| %>
    <p><%= link_to "#{user.email}'s Dashboard", user_path(user) %></p>
  <% end %>
</div>
